body {
    background-color: white;
    font-family: Raleway;
    color: #333;
    margin: 0;
}

.conteiner {
    width: 1600px;
    margin-left: 0 auto;
    margin-right: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.logo {
  font-size: 26px;
  font-weight: 700;
  text-decoration: none;
  color: black;
}

.logo-blue {
  color: #2196f3;
}


nav ul {
    list-style: none;
    display :flex ;
    gap: 70px;
    justify-content: flex-end;
    font-family: Inter ;
}

.services {
   text-align: center; 
   padding: 60px 20px; 
}



.welcome {
text-align: center;
}


.service-boxes {
    display: flex;
    justify-content: center;
    gap: 90px;
    margin-top: 40px;
}

.contact{
    text-align: center;
}
 

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  display: flex;
  align-items: center;
  gap: 50px;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.contact {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  margin: 0;
  padding: 0;
  font-family: sans-serif;  
}

.phone {
  display: flex;
  justify-content: flex-end;  
}

.email {
  display: flex;
  justify-content: flex-end;
}

.contact a {
  text-decoration: none;
  color: #212121;
  font-weight: 500;  
}

.contact a:hover {
  color: #2196f3;
}

.nav-list a {
  text-decoration: none;
  color: #212121;
  font-weight: 500;
}

.nav-list a:hover {
  color: #2196f3;
}



.hero {
  text-align: center;
  margin: 50px 0;
  padding: 75px;
  border: 1px;
  border-radius: 4px;
  background-color: #2F303A;
  color: #FFFFFF;
}



.text {
  display:flex;
  justify-content: center;
  align-items: center;
}

.hero button {
  margin-top: 20px;
  background-color: #2196f3;
  color: white; 
  padding: 10px 25px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.features-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  gap: 20px;
}

.features-list li {
  flex: 1 1 calc(25% - 20px);
}

.services .service-boxes {
  display: flex;
  gap: 20px;
}

.team-members {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-decoration: none;
  gap: 20px;
 
}

.member {
  flex: 1 1 calc(25% - 20px);
  text-align: center;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
  border-radius:  4px;
}

img {
  width: 250px;
}

.footer {
  background-color:#2F303A;
  border-radius: 4px;
}

.logo-text {
  font-size: 26px;
  font-weight: 700;
  text-decoration: none;
  color: #FFFFFF;
}

.logo-blue-text {
  color:#2196f3 ;
}


.footer ul {
list-style: none;
padding: 0;
margin: 0;
}

.list-item {
  color: #FFFFFF;
}
